# Inbalanced Classes
## In this lab, we are going to explore a case of imbalanced classes. 


Like we disussed in class, when we have noisy data, if we are not careful, we can end up fitting our model to the noise in the data and not the 'signal'-- the factors that actually determine the outcome. This is called overfitting, and results in good results in training, and in bad results when the model is applied to real data. Similarly, we could have a model that is too simplistic to accurately model the signal. This produces a model that doesnt work well (ever).

### Note: before doing the first commit, make sure you don't include the large csv file, either by adding it to .gitignore, or by deleting it.

### First, download the data from: https://www.kaggle.com/ealaxi/paysim1 . Import the dataset and provide some discriptive statistics and plots. What do you think will be the important features in determining the outcome?
### Note: don't use the entire dataset, use a sample instead, with n=100000 elements, so your computer doesn't freeze.

In [1]:
import imblearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
# Your code here
df_1 = pd.read_csv('/Users/raghavmanocha/Desktop/untitled folder/PS_20174392719_1491204439457_log.csv')

In [3]:
df_2 = df_1.sample(100000)

In [4]:
df_2.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
2423699,202,TRANSFER,709732.85,C779799052,52743.0,0.00,C1416152860,496288.96,1206021.81,0,0
6241800,595,PAYMENT,8712.18,C1299820220,70344.0,61631.82,M801493033,0.00,0.00,0,0
2332347,188,CASH_OUT,201197.57,C1163246353,0.0,0.00,C1134987960,1119669.10,1320866.67,0,0
4046824,300,TRANSFER,116734.39,C61714394,249751.0,133016.61,C888847616,0.00,116734.39,0,0
3892660,284,TRANSFER,1283625.57,C1150760783,0.0,0.00,C2029185084,3630388.57,4914014.14,0,0

In [5]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 2423699 to 143545
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            100000 non-null  int64
 1   type            100000 non-null  object
 2   amount          100000 non-null  float64
 3   nameOrig        100000 non-null  object
 4   oldbalanceOrg   100000 non-null  float64
 5   newbalanceOrig  100000 non-null  float64
 6   nameDest        100000 non-null  object
 7   oldbalanceDest  100000 non-null  float64
 8   newbalanceDest  100000 non-null  float64
 9   isFraud         100000 non-null  int64
 10  isFlaggedFraud  100000 non-null  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 9.2+ MB

In [6]:
df_2.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,100000.000000,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,1.000000e+05,100000.000000,100000.000000
mean,243.793670,1.781863e+05,8.494461e+05,8.716725e+05,1.087225e+06,1.207822e+06,0.001280,0.000010
std,142.220336,5.985243e+05,2.915396e+06,2.953049e+06,3.235433e+06,3.526553e+06,0.035754,0.003162
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,156.000000,1.353847e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,249.000000,7.619946e+04,1.439450e+04,0.000000e+00,1.362318e+05,2.176587e+05,0.000000,0.000000
75%,335.000000,2.094625e+05,1.078825e+05,1.466958e+05,9.493339e+05,1.117112e+06,0.000000,0.000000
max,741.000000,5.831837e+07,3.389632e+07,3.401370e+07,1.956882e+08,2.493709e+08,1.000000,1.000000

In [7]:
df_2.shape

(100000, 11)

### What is the distribution of the outcome?

In [8]:
# Your response here
df_2.isFlaggedFraud.value_counts()

0    99999
1        1
Name: isFlaggedFraud, dtype: int64

In [9]:
df_2.isFraud.value_counts()

0    99872
1      128
Name: isFraud, dtype: int64

### Clean the dataset. How are you going to integrate the time variable? Do you think the step (integer) coding in which it is given is appropriate?

In [10]:
df_2.type.value_counts()

CASH_OUT    35107
PAYMENT     33644
CASH_IN     22241
TRANSFER     8375
DEBIT         633
Name: type, dtype: int64

In [11]:
df_2.step.value_counts()

187    814
18     790
19     754
235    741
307    739
      ...
444      1
486      1
484      1
523      1
649      1
Name: step, Length: 463, dtype: int64

In [12]:
# Your code here
df_2.dtypes

step                int64
type               object
amount            float64
nameOrig           object
oldbalanceOrg     float64
newbalanceOrig    float64
nameDest           object
oldbalanceDest    float64
newbalanceDest    float64
isFraud             int64
isFlaggedFraud      int64
dtype: object

In [13]:
df_2.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [14]:
df_2 = pd.get_dummies(df_2, columns = ['type'], drop_first = True)

In [15]:
df_2

,step,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_CASH_OUT,type_DEBIT,type_PAYMENT,type_TRANSFER
2423699,202,709732.85,C779799052,52743.00,0.00,C1416152860,496288.96,1206021.81,0,0,0,0,0,1
6241800,595,8712.18,C1299820220,70344.00,61631.82,M801493033,0.00,0.00,0,0,0,0,1,0
2332347,188,201197.57,C1163246353,0.00,0.00,C1134987960,1119669.10,1320866.67,0,0,1,0,0,0
4046824,300,116734.39,C61714394,249751.00,133016.61,C888847616,0.00,116734.39,0,0,0,0,0,1
3892660,284,1283625.57,C1150760783,0.00,0.00,C2029185084,3630388.57,4914014.14,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1853473,164,97743.51,C990114669,0.00,0.00,C1034537634,1022693.30,1120436.80,0,0,1,0,0,0
3722792,278,11109.09,C1984212542,5171.00,0.00,M313001027,0.00,0.00,0,0,0,0,1,0
5949561,405,91655.55,C693423360,890242.15,981897.69,C1891082131,7387716.84,7296061.29,0,0,0,0,0,0
1903957,165,22017.45,C1360064401,37102.41,15084.96,M1259158478,0.00,0.00,0,0,0,0,1,0
143545,11,2310.25,C617609047,0.00,0.00,M727192163,0.00,0.00,0,0,0,0,1,0

In [16]:
# Your code here
X = df_2.drop(['step','nameOrig','nameDest','isFraud','isFlaggedFraud'],axis=1)
y = df_2['isFraud']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [18]:
from imblearn.over_sampling import SMOTE

In [19]:
sm = SMOTE(random_state = 123,sampling_strategy=1.0)
X_train_SMOTE,y_train_SMOTE = sm.fit_resample(X_train,y_train)

### Run a logisitc regression classifier and evaluate its accuracy.

In [20]:
# yet another small improvement, but bear in mind that we saved 12 hypothetical people with
# these "small improvements"
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix

LR = LogisticRegression(max_iter=1000)
LR.fit(X_train_SMOTE, y_train_SMOTE)
pred = LR.predict(X_test)
accuracy_score(pred, np.array(y_test))

0.78004

In [21]:
print("precision: ",precision_score(y_test,pred))
print("recall: ",recall_score(y_test,pred))
print("f1: ",f1_score(y_test,pred))
confusion_matrix(y_test,pred)

precision:  0.005966371361417465
recall:  0.9705882352941176
f1:  0.011859838274932616

array([[19468,  5498],
       [    1,    33]])

### Now pick a model of your choice and evaluate its accuracy.

In [22]:
# Your code here
#random forest
model = KNeighborsClassifier(n_neighbors = 3)
model.fit(X_train_SMOTE, y_train_SMOTE)
pred = model.predict(X_test)
accuracy_score(pred, np.array(y_test))

0.9874

In [23]:
print("precision: ",precision_score(y_test,pred))
print("recall: ",recall_score(y_test,pred))
print("f1: ",f1_score(y_test,pred))
confusion_matrix(y_test,pred)

precision:  0.0855457227138643
recall:  0.8529411764705882
f1:  0.1554959785522788

array([[24656,   310],
       [    5,    29]])

### Which model worked better and how do you know?

In [24]:
# Your response here

### Note: before doing the first commit, make sure you don't include the large csv file, either by adding it to .gitignore, or by deleting it.